zeebe:
  gateway:
    network:
      host: {{ ansible_host }}
      port: {{ zeebe_gateway_network_port }}

    cluster:
      memberId: {{ memberId }}
      host: {{ ansible_host }}
      port: 26502
      initialContactPoints: [ {% for broker in cluster_configuration.broker %}{{ broker }}:26502{% if not loop.last %}, {% endif %}{% endfor %} ]

      security:
        enabled: {{ zeebe_gateway_cluster_security }}
        # certificateChainPath: {{ zeebe_gateway_cluster_security_certificate_path }}
        # privateKeyPath: {{ zeebe_gateway_cluster_security_privatekey_path }}

    threads:
      managementThreads: {{ zeebe_gateway_threads_count }}

    security:
      # Enables TLS authentication between clients and the gateway
      # This setting can also be overridden using the environment variable ZEEBE_GATEWAY_SECURITY_ENABLED.
      enabled: {{ zeebe_gateway_security }}
      # certificateChainPath: {{ zeebe_gateway_security_certificate_path }}
      # privateKeyPath: {{ zeebe_gateway_security_privatekey_path }}
