[Unit]
Description=Zeebe Gateway
After=network.target

[Service]
WorkingDirectory={{ gateway_dir }}/bin
ExecStart={{ gateway_dir }}/bin/gateway  -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath={{ heap_dump_dir }} -XX:ErrorFile={{ error_log_dir }}/zeebe_error%p.log
SuccessExitStatus=143
Environment="JAVA_HOME={{ openjre_java_home }}"

Restart=always

[Install]
WantedBy=multi-user.target